* {
  color: rgb(0, 0, 0);
  font-family: monospace;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}
nav .logo {
  display: block;
  font-size: large;
  font-weight: bold;
  margin-left: 10px;
}
nav ul {
  display: flex;
  gap: 1.5rem;
}
nav ul li {
  list-style: none;
  cursor: pointer;
  font-size: 15px;
}
.Notice-text {
  width: 50%;
  text-transform: capitalize;
  padding: 0.2rem;
  font-weight: bold;
}
.Notice-text h1 {
  color: red;
}
.Notice-text h1,
p {
  padding: 0.2rem;
  padding-left: 0.8rem;
}
.Notice-text span {
  font-weight: bold;
  font-size: 17px;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin: auto;
  border-radius: 8px;
  height: 70vh;
  position: relative;
  background: url(library3.jpg) no-repeat 23% center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mainPhone {
  background: linear-gradient(to right, #000000cc, #000000cc),
    url(library3.jpg) no-repeat 23% center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-container ol li {
  color: white;
  list-style: none;
  background-color: #1f8fff;
  padding: 0.8rem;
  margin: 15px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
.alert {
  background-color: #000000b7;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.alert .content {
  background-color: #eef5f3;
  width: 40%;
  height: 40%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 10px;
}
.alert .content p {
  text-transform: capitalize;
  font-size: large;
  font-weight: bold;
}
.alert button {
  padding: 10px 40px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  font-size: large;
}
.alert button:first-child {
  background-color: #00ffc3;
}
.alert button:last-child {
  background-color: #000000;
  color: #ffffff;
}
#quiz-container {
  overflow: hidden;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#question-container {
  font-family: monospace;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  width: 98%;
  background-color: #0000007a;
}
#question-container h2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
#question-container h2 span,
#question-container span {
  color: yellow;
}
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.btn {
  background-color: #1f8fff;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 70%;
  font-size: large;
  font-family: Doulos SIL;
  
}

.btn:hover {
  background-color: #3198ff;
}

.start-next-btn {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 40%;
}
.start-next-btn * {
  background-color: #307a64;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.message {
  color: rgb(255, 255, 255);
  font-size: large;
}
.start-next-btn .start-btn {
  background-color: #00ffc3;
}
.start-next-btn .next:hover {
  background-color: #3d8d75;
}
.start-next-btn .start-btn:hover {
  background-color: #03cc9d;
}
.restart-btn {
  background-color: darkorange;
}
.statistiques {
  background-color: #1f8fff;
  border-radius: 8px;
  box-shadow: 0 0 2px black;
}

.statistiques div {
  margin: 40px;
  font-size: 20px;
  color: #ffffff;
}

.count,
.length,
.score {
  color: #ffffff;
  font-size: 25px;
  padding-top: 1rem;
}
footer {
  text-align: left;
}
footer p {
  color: rgb(0, 0, 0);
  padding-left: 1.6rem;
  text-transform: capitalize;
  font-weight: bold;
}
footer a {
  text-decoration: underline;
  color: red;
  text-transform: none;
  font-weight: bold;
}
.burger-menu {
  width: 40px;
  height: 30px;
  position: relative;
  display: none;
  cursor: pointer;
}

.burger-menu span:nth-child(1) {
  width: 100%;
  height: 3px;
  background-color: #000000;
  position: absolute;
  top: 6px;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.burger-menu span:nth-child(2) {
  width: 80%;
  height: 3px;
  background-color: #000000;
  position: absolute;
  top: 16px;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.burger-menu span:nth-child(3) {
  width: 100%;
  height: 3px;
  background-color: #000000;
  position: absolute;
  top: 26px;
  border-radius: 5px;
  transition: all 0.4s ease;
}

@media screen and (max-width: 700px) {
  nav {
    font-size: smaller;
    justify-content: space-between;
    position: relative;
  }
  nav .nav-links {
    transform: translateX(-100%);
    position: absolute;
    background-color: #000000a2;
    width: 100%;
    height: 70vh;
    top: 43px;
    left: 0;
    z-index: 100;
    transition: all 0.5s ease;
  }
  nav .nav-links ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    background-color: rgb(0, 0, 0);
    height: 100%;
    transition: all 1s ease;
  }
  nav .nav-links ul li {
    color: white;
  }
  nav .nav-links.active {
    transform: translateX(0);
    display: block;
  }

  .burger-menu {
    display: block;
    margin-right: 10px;
  }

  .burger-menu span.span-active:nth-child(1) {
    width: 100%;
    height: 3px;
    background-color: #000000;
    position: absolute;
    top: 16px;
    transform: rotate(45deg);
    transition: all 0.4s ease;
  }
  .burger-menu span.span-active:nth-child(2) {
    width: 80%;
    height: 3px;
    background-color: #000000;
    position: absolute;
    top: 16px;
    opacity: 0;
    transition: all 0.4s ease;
  }
  .burger-menu span.span-active:nth-child(3) {
    width: 100%;
    height: 3px;
    background-color: #000000;
    position: absolute;
    top: 16px;
    transform: rotate(-45deg);
    transition: all 0.4s ease;
  }

  .Notice-text {
    width: 100%;
    padding: 0;
    padding-bottom: 15px;
  }
  .main-container {
    width: 100%;
    gap: 0;
    flex-direction: column;
    border-radius: 0;
  }
  .alert .content {
    width: 90%;
    height: 30%;
  }
  .alert .content p {
    text-align: center;
  }
  .main-container ol {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.2rem;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* background-color: white; */
  }
  .main-container ol li {
    margin: 0;
    font-size: medium;
    padding: 8px 10px;
  }
  #quiz-container {
    width: 100%;
    box-shadow: 0 0 0px;
  }

  .btn {
    width: 98%;
  }

  .statistiques {
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0;
  }
  .statistiques div {
    font-size: 15px;
    text-align: center;
    padding: 1rem;
    margin: 0;
  }
  .statistiques div:nth-child(1) {
    background-color: rgb(0, 0, 0);
  }
}
